@using ShaulisBlog.Controllers
@model IEnumerable<ShaulisBlog.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Title: @this.ViewBag.Post.Title
Content: @this.ViewBag.Post.Content

@using (Html.BeginForm("Search", "Comments", new { searchString = "SearchString" }))
{
    <p>
        Find by name: @Html.TextBox("SearchString", "", new { placeholder = "Author\\Title\\Content.." })
        <input type="submit" value="Search" />
    </p>
}

@using (Html.BeginForm("FilterByGender", "Comments"))
{
    <p>
        @Html.DropDownList("genders")
        <input type="submit" value="Filter" />
    </p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(comm => comm.UpdateDate)) {
    <tr>
        <td>
            @item.Author.FirstName @item.Author.LastName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentDate)
        </td>
        <td>
            @if (LoginController.canPerfom(item.Author.ID, "Edit"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
                @Html.Raw(" | ")
            }
            @if (LoginController.canPerfom(item.Author.ID, "Delete"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
}

</table>
