@using ShaulisBlog.Controllers
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Shauli's Blog</title>
    <link rel="stylesheet" href="~/Content/11.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1 class="title">Ha-Blog Shel Shauli</h1>
        @HttpContext.Current.Session["FirstName"].ToString()
        @Html.Raw("! | ")
        @Html.ActionLink("Edit user", "Edit", "Fans", new { id = LoginController.getUserId() }, new { })
        @Html.Raw(" | ")
        @Html.ActionLink("Delete user", "Delete", "Fans", new { id = LoginController.getUserId() }, new { })
        @Html.Raw(" | ")
        @Html.ActionLink("Logout", "Logout", "Login")
    </header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "BlogPosts" ? "active" : "")">@Html.ActionLink("Blog", "Index", "BlogPosts")</li>
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Facebook" ? "active" : "")">@Html.ActionLink("Facebook", "Index", "Facebook")</li>
                    
                    <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Extras" ? "active" : "")">@Html.ActionLink("Extras", "Index", "Extras")</li>
                    
                    @if (LoginController.IsAdmin()) {
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Fans" ? "active" : "")">@Html.ActionLink("Fan Club", "Index", "Fans")</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <section id="intro">
        <!-- Introduction -->
        <header>
            <h2>Do you have questions for me?</h2>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
        <img src="~/Images/intro_shauli.png" alt="Shauli" />
    </section>
    <div id="content" style="direction:rtl">
        <aside style="direction:ltr">
            <section>
                <header>
                    <h3>Like us on:</h3>
                </header>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/ShaulisBlog/?ref=nf" target="_blank">
                            <i class="fa fa-facebook-official"></i> Facebook
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        <div id="mainContent" style="direction:ltr">
            @RenderBody()
        </div>
    </div>

    <footer>
        <!-- Footer -->
        <div>
            <section id="about">
                <header>
                    <h3>About</h3>
                </header>
                <p>@Html.ActionLink("Click here to learn more about us!", "Index", "About")</p>
            </section>
        </div>
    </footer>
</body>
</html>