@using ShaulisBlog.Controllers

@model IEnumerable<ShaulisBlog.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Search", "BlogPosts", new { searchString = "SearchString" }))
{
    <p>
        Find by name: @Html.TextBox("SearchString", "", new { placeholder = "Author\\Title\\Content.." })
        <input type="submit" value="Search" />
    </p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @if (LoginController.canPerfom(item.Author.ID, "Edit"))
            { 
                @Html.ActionLink("Edit", "Edit", new { id=item.ID })          
                @Html.Raw(" | ")
            } 
            @if (LoginController.canPerfom(item.Author.ID, "Delete"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.ID });
                @Html.Raw(" | ")
            }
            
            @Html.ActionLink("Comment", "Comment", new { id = item.ID })
        </td>
    </tr>
    if (item.Comments != null && item.Comments.Count > 0) {
        <tr>
            <td colspan="5" class="comments-table-area">
                <table class="table comments-table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comments.First().Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comments.First().Content)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comments.First().CommentDate)
                        </th>
                        <th></th>
                    </tr>

                    @for (var index = 0; index < item.Comments.Count && index < 5; index++)
                    {
                        var comment = item.Comments[index];
                        <tr>
                            <td>
                                @comment.Author.FirstName @comment.Author.LastName
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => comment.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => comment.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => comment.CommentDate)
                            </td>
                            <td>
                                @if (LoginController.canPerfom(comment.Author.ID, "Edit"))
                                {
                                    @Html.ActionLink("Edit", "EditComment", new { id = comment.ID })
                                    @Html.Raw(" | ")
                                }
                                @if (LoginController.canPerfom(comment.Author.ID, "Delete"))
                                {
                                    @Html.ActionLink("Delete", "DeleteComment", new { id = comment.ID })
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2">
                            @item.Comments.Count comments total.
                        </td>
                        <td colspan="3">
                            @Html.ActionLink("View all comments..", "ViewComments", new { id = item.ID })
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    }
}

</table>
